/*
	FR Tools HatchCalc Stylesheet

	Layout and colours specific to the Hatchling Probability Calculator.
	Organizational headings begin with ||

	author: egad13
	version: 0.0.2
*/


/* || General */

main {
	text-align: center;
}

/* || Form */

form {
	display: inline-grid;
	grid-template-columns: 100%;
	grid-template-rows: repeat(5, min-content);
	row-gap: var(--standard-gap);
	min-width: max-content;
}
fieldset {
	padding: 0;
	padding-top: calc(var(--standard-gap)*3 + 1.2em);
	min-width: 24.3em;
	max-width: 24.3em;
	position: relative;
	display: grid;
	grid-template-columns: [pad-start] 0 [start] min-content repeat(4, [c] 1fr) [end] 0 [pad-end];
	grid-template-rows: repeat(4, 1fr) 0;
	column-gap: var(--standard-gap);
	row-gap: calc(var(--standard-gap)/1.5);
	align-items: center;
	border: 1px solid var(--dark-gray);
	background: var(--off-white);
}
fieldset>legend {
	font-size: 120%;
	font-weight: bold;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: var(--standard-gap);
	grid-column: pad-start / pad-end;

	background: var(--crimson);
	color: var(--gold);
}
fieldset>label,
fieldset>span {
	grid-column: start / span 1;
}
fieldset>select[is=fr-breeds],
fieldset>select[is=fr-eyes],
fieldset>select.gender {
	grid-column: c 2 / span 2;
}
fieldset>select[is=fr-colours] {
	grid-column: c 1 / span 2;
}
fieldset>select[is=fr-genes] {
	grid-column: c 3 / span 2;
}

fieldset#hatchling {
	grid-template-rows: repeat(7, min-content) 0;
}
.check-wrapper {
	grid-column: c 1 / span 4;
}
.range-wrapper {
	grid-row: auto / span 1;
	grid-column: c 1 / span 2;
	display: inline-grid;
	grid-template-rows: auto;
	row-gap: 0;
}
.colour-range {
	display: none;
}
span.colour-range {
	font-size: 70%;
}
select {
	width: 100%;
}
/* Hatchling fieldset changes layout if a specific checkbox is checked */
fieldset#hatchling.use-ranges-checked {
	grid-template-rows: min-content repeat(10, min-content) 0;
}
.use-ranges-checked .range-wrapper {
	grid-row: auto / span 2;
	grid-template-rows: min-content min-content min-content;
}
.use-ranges-checked .colour-range {
	display: initial;
}
.use-ranges-checked .sec-span {
	grid-row: 8 / span 1;
}
.use-ranges-checked .ter-span {
	grid-row: 10 / span 1;
}


/* || Results */

main>section {
	flex: 1 1;
	display: inline-grid;
	grid-template-columns: 100%;
	grid-template-rows: repeat(2, min-content);
	row-gap: var(--standard-gap);
	min-width: 26em;
}
#results {
	padding: var(--standard-gap) var(--standard-gap) var(--double-gap);
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: repeat(3, min-content);
	gap: var(--standard-gap);

	border: 1px solid var(--dark-gray);
	background: var(--off-white);
}

#results>#placeholder {
	grid-column: 1 / span 2;
	grid-row: 2 / span 2;
	padding: 0 calc(var(--standard-gap)*2);
}
#results>#overview,
#results>#attrs-table {
	grid-column: 1 / span 2;
}
#results>#egg-table {
	grid-column: 1 / span 1;
}
#results>#nest-table {
	grid-column: 2 / span 1;
}
#results ul {
	padding: 0;
	list-style-position: inside;
}
